/* .card{box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.7), 0 2px 2px 0 rgba(0, 0, 0, 0.19);margin:20px;padding:20px;border-radius: 20px;}
.card-title{color:red;font-weight: bolder;} */
.ak{float:right;}
.panel-title{color: #3A1564;font-weight: bolder;}
.panel-body{font-size: medium;font-style: oblique;}


