<app-mainmenubar></app-mainmenubar>
<!-- Nav bar -->

<!--video banner-->

<section class="video">
  <div class="col-md-12 aj">
      <video autoplay muted loop class="wrapper__video">
          <source src="assets/services/video1.mp4" type="video/mp4">    
            
      </video>

      <div class="container">
    <div class="overlay col-md-11 col-xs-11">
       <div class="sliders">  
                         
                  <div  id="myCarousel" class="carousel slide " data-ride="carousel">
                      
                   <div class="carousel-inner">
                      <div class="item active">
                            <p id="carouselText">Great Broadband at a Great Price</p>
                            <p>Extra 5GB for every month.</p>
                      </div>
                      <div class="item">
                        <p id="carouselText">All Entertainment in One Place</p>
                            <p>Phone + Broadband + Unlimited Data.</p>
                      </div>
                      <div class="item">
                            <p id="carouselText">Welcome to largest Broadband Network Service Provide</p>
                            <p>If You are Happy, We are also Happy</p>
                    </div>
                  </div>  
              
                                      
          <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                     <span class="glyphicon glyphicon-chevron-right"></span>
                     <span class="sr-only">Next</span>
                  </a>
          </div>
                    
              
          </div>
        
    </div>
    </div>
  </div> 
  
  
</section>
<!--about us-->
<section id="about">
<div class="aboutus-section">
<hr><p class="space"></p>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                        <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
                       
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img class="aboutimg" src="/assets/images/about.jpeg" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Work with heart</h4>
                                    <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Reliable services</h4>
                                    <p>Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Great support</h4>
                                    <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!--vision & mission-->
<section class="vision" >
    <h3 class="service-head">Vision and Mission</h3>
    <hr>
   

     <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="card-box">
                    <div class="card-title">
                        <h2>Our Vision</h2>
                        <p>Create world class digital experiences to connect and inspire every Indian to build a better tomorrow</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-box">
                    <div class="card-title">
                        <h2>Our Mission</h2>
                        <p>Be the most loved brand by continuously raising the bar in delivering simple, delightful experience and meaningful innovations, through new age technologies </p>
                    </div>
                    
                </div>
            </div>
           
        </div>
    </div>
    
</section>

<!--no of subscribers-->
<section >
  <h1 class="subscriber">Our Achievements</h1>
  <div class="flex-container">
    <div class="fles"><h1>200 million</h1><p>subscribers</p></div>
    <div class="fles"><h1>10 crore</h1><p> broadband connections </p></div>
    <div class="fles"><h1>95%</h1><p> active subscribers </p></div>
    <div class="fles"><h1>In top 5</h1><p> telecom operators in india </p></div>  
</div>
</section>

<!--support-->
<section>
<div class="container">

	
		<div class="row mbr-justify-content-center">

            <div class="col-lg-12 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-volume-up fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Not a customer yet?                    <a href="#" class="classname">I'm new to Airfone</a></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">We’re here for you online<br>

                          Coronavirus: We’re keeping you connected with fast, contact-free delivery, top tech tips and 24/7 support. </p>
                    </div>
                </div>
            </div>
          </div>
</div>           
</section>
            
<!--zigzag-->
<section id="broadband">
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h1>Prepaid</h1>
          <h3>We Make Relationship Between Business & Professionals</h3>
          <p>Enjoy Truly unlimited Local, STD & Roaming calls on any network, daily 1GB & 100 SMS.Find list of best Airfone prepaid recharge plans, Airfone mobile recharge offers and tariff plans online. This list of Airfone recharge offers are updated on 12th August, 2020. ... Voice Calls, Full Talktime.
  
  </p>
      </div>
      <div class="col-md-6">
          <img src="/assets/images/pre.jpeg">
      </div>
    </div>
  </div>
</section>
<section id="broadband">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/assets/images/post.jpeg">
    </div>
      <div class="col-md-6">
          <h1>Postpaid</h1>
          <h3>Our new post-paid mobile plans give you extra data</h3>
          <p>Get extra data and lock in the price of your plan for 12 months for eligible customers
              We'll be inviting eligible customers to move to these plans by Sept 30, to receive a credit and lock in the price for 12 months.
  
  </p>
      </div>
      
    </div>
  </div>
</section>
<section id="broadband">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h1>Broadband</h1>
          <h3>We Make Relationship Between Business & Professionals</h3>
          <p>Enjoy Truly unlimited data daily on any network with 1GB per day.Also enjoy ZEE5 Premium membership with 100+ Originals, 4500+ movies & TV Shows.</p>
      </div>
      <div class="col-md-6">
          <img src="/assets/images/broad.jpeg">
      </div>
    </div>
  </div>
</section>





<!--footer-->
  
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          
            <h2>AirFone<br></h2>
             <p> BRANDBAND & TELECOM<br>
              Welcome to the largest broadband and Internet services provider where you can choose the best plan ever.</p>
            <!-- Rights-->
            <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>India</span><span>. </span><span>All Rights Reserved.</span></p>
            <p>Developed by Jabada Developers.</p>
          
        </div>
        <div class="col-md-4">
          <h2>Contacts</h2>
          <dl class="contact-list">
            <dt>Address:</dt>
            <dd>123,Super Street,Jabada Airfone,Chennai-44.</dd>
          </dl>
          <dl class="contact-list">
            <dt>email:</dt>
            <dd><a href="mailto:#">jabada@gmail.com</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>phones:</dt>
            <dd>9874563218</dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <h2>Links</h2>
          <ul class="nav-list">
            <li><a href="#">Recharge</a></li>
            <li><a href="#">Tariff</a></li>
            <li><a href="#">New Connection</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      
      
      
    </div>
  </footer>