<nav class="navbar navbar-default"style="background-color:rgb(244, 234, 255);" >
    <div class="container-fluid">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/Admin-home"><div class="menuColor">Airfone</div></a>
      </div>
  
    


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/Admin-Create-Edit-plans"><div class="menuColor">Plans</div></a></li>
          <li routerLinkActive="active"><a routerLink="/Admin-Query-Response"><div class="menuColor">Queries</div></a></li>
          <li routerLinkActive="active"><a routerLink="/Admin-User-History"><div class="menuColor">History</div></a></li>
          <li routerLinkActive="active"><a routerLink="/Admin-User-Control"><div class="menuColor">Admin Control</div></a></li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><div class="menuColor">Plans<span class="caret"></span></div> </a>
            <ul class="dropdown-menu">
              <li><a href="#">Create Plan</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Edit Plan</a></li>

            </ul>
          </li> -->
        </ul>
       
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active"><a routerLink="/admin"><div class="menuColor">Logout</div></a></li>
        </ul>
      </div>
    </div>
    
</nav>


