.topnav {
  margin-left:20%;
  margin-right:20%;
    overflow: hidden;
    /* background-color: #333; */
  }
#aj{color:black;}
/* .nv{padding-left: 35% ;}
.pl{padding-left: 25%;} */
/* .ws{width: 40rem;} */
a.nav-item{margin:0px}
.bg-primary{margin:0px}
.card{box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);padding: 20px;}
.submenucolor{color:rgb(244, 234, 255);}